.product-details img {
    width: 100%;
    object-fit: cover
}

.offset-md-1{
    margin: auto 0;
    margin-left: 8.3%;
}

ul{
    list-style: none;
}

.btn{
    margin-right: 20px;
}
/* .btn{
    color: #222529;
    background-color:#fcecee;
    border-color: white;
}

.btn:hover{
    background-color:  #fcecee;
    border-color: white;
} */